
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'NanumSquareNeo';
}
a{
    font-family: Arial, Helvetica, sans-serif;
    color: #f35626;
    text-underline-offset: 5px;
}
p{
    word-break: break-all;
}
