/*
나눔 스퀘어
font-family: 'NanumSquareNeoLight';
font-family: 'NanumSquareNeo';
font-family: 'NanumSquareNeoBold';
font-family: 'NanumSquareNeoExtraBold';
font-family: 'NanumSquareNeoHeavy'; 
*/


.contactContainer {
    padding: 150px 0;
    width: 100%;

    >.contactContent {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        flex-direction: column;

        >h3 {
            font-size: 40px;
            margin-bottom: 50px;
            font-family: 'NanumSquareNeoExtraBold';

        }

        >div {
            display: flex;

            >.textBox {
                padding-right: 50px;

                >p {
                    font-family: 'NanumSquareNeo';
                    font-size: 22px;
                    margin-bottom: 16px;
                    line-height: 44px;
                }
            }

            >.imgBox {

                >figure {

                    >img {
                        width: 100%;

                    }
                }

            }
        }

    }
}

.copyright {
    width: 100%;
    padding: 50px 0;
    background-color: #000;
    text-align: center;

    >p {
        color: #9F9F9F;
        letter-spacing: 0.07em;

    }
}

@import './utils.scss';

@include mobile2 {
    .contactContainer {
        padding: 10% 2.25rem;
        width: 100%;


        >.contactContent {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            flex-direction: column;

            >h3 {
                font-size: 20px;
                margin-bottom: 1.5625rem;
                font-family: 'NanumSquareNeoExtraBold';

            }

            >div {
                display: flex;

                >.textBox {
                    padding-right: 0px;

                    >p {
                        font-family: 'NanumSquareNeo';
                        font-size: 14px;
                        margin-bottom: 10px;
                        line-height: 30px;
                    }
                }

                >.imgBox {
                    display: none;

                    >figure {

                        >img {
                            width: 100%;

                        }
                    }

                }
            }

        }


    }

    .copyright {
        width: 100%;
        padding: 50px 0;
        background-color: #000;
        text-align: center;
        font-size: 12px;

        >p {
            color: #9F9F9F;
            letter-spacing: 0.07em;

        }
    }
}

@include mobile1 {
    .contactContainer {
        padding: 10% 2.25rem;
        width: 100%;


        >.contactContent {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            flex-direction: column;

            >h3 {
                font-size: 20px;
                margin-bottom: 1.5625rem;
                font-family: 'NanumSquareNeoExtraBold';

            }

            >div {
                display: flex;

                >.textBox {
                    padding-right: 0px;

                    >p {
                        font-family: 'NanumSquareNeo';
                        font-size: 14px;
                        margin-bottom: 10px;
                        line-height: 30px;
                    }
                }

                >.imgBox {
                    display: none;

                    >figure {

                        >img {
                            width: 100%;

                        }
                    }

                }
            }

        }


    }

    .copyright {
        width: 100%;
        padding: 30px 0;
        background-color: #000;
        text-align: center;
        font-size: 12px;

        >p {
            width: 70%;
            margin: auto;
            color: #9F9F9F;
            letter-spacing: 0.07em;

        }
    }
}

@include pc1 {
    .contactContainer {
        padding: 10% 6.25rem;
        width: 100%;

        >.contactContent {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            flex-direction: column;

            >h3 {
                font-size: 40px;
                margin-bottom: 50px;
                font-family: 'NanumSquareNeoExtraBold';

            }

            >div {
                display: flex;

                >.textBox {
                    padding-right: 0px;
                    width: 60%;
                    >p {
                        font-family: 'NanumSquareNeo';
                        font-size: 22px;
                        margin-bottom: 16px;
                        line-height: 44px;
                    }
                }

                >.imgBox {

                    >figure {

                        >img {
                            width: 100%;

                        }
                    }

                }
            }

        }
    }

    .copyright {
        width: 100%;
        padding: 50px 0;
        background-color: #000;
        text-align: center;

        >p {
            color: #9F9F9F;
            letter-spacing: 0.07em;

        }
    }

}

@include tablet {
    .contactContainer {
        padding: 10% 6.25rem;
        width: 100%;

        >.contactContent {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            flex-direction: column;

            >h3 {
                font-size: 2rem;
                margin-bottom: 50px;
                font-family: 'NanumSquareNeoExtraBold';

            }

            >div {
                display: flex;

                >.textBox {
                    width: 55%;
                    padding-right: 0px;

                    >p {
                        font-family: 'NanumSquareNeo';
                        font-size: 16px;
                        margin-bottom: 10px;
                        line-height: 30px;
                    }
                }

                >.imgBox {
                    width: 40%;

                    >figure {

                        >img {
                            width: 100%;

                        }
                    }

                }
            }

        }
    }


    .copyright {
        width: 100%;
        padding: 50px 0;
        background-color: #000;
        text-align: center;
        font-size: 15px;

        >p {
            color: #9F9F9F;
            letter-spacing: 0.07em;

        }
    }
}