/*
나눔 스퀘어
font-family: 'NanumSquareNeoLight';
font-family: 'NanumSquareNeo';
font-family: 'NanumSquareNeoBold';
font-family: 'NanumSquareNeoExtraBold';
font-family: 'NanumSquareNeoHeavy'; 
*/



.itemContainer {

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    color: #000;
    background-color: rgba(255, 255, 255, 0.164);
    opacity: 0;
    padding: 100px 200px;
    z-index: -10;

    &.active {
        opacity: 1;
        z-index: 20;

    }

    >.infoBox {
        padding: 50px;
        position: relative;
        display: flex;
        flex-direction: column;
        background-color: rgb(243, 243, 243);

        >button {
            all: unset;
            position: absolute;
            background-image: url("../../public/image/close.svg");
            background-repeat: no-repeat;
            background-size: cover;
            width: 30px;
            height: 30px;
            top: 15px;
            right: 15px;
            cursor: pointer;
        }

        >.titleBox {
            text-align: center;
            margin-bottom: 25px;

            >p {
                font-family: 'NanumSquareNeoBold';
                font-size: 16px;
                margin-bottom: 0px;

                &:nth-child(1) {
                    font-size: 32px;
                    margin-bottom: 16px;
                }
            }
        }

        >.infoContentBox {
            display: flex;
            justify-content: space-evenly;
            overflow: hidden;

            >.leftBox {
                width: 45%;
                flex-shrink: 0;

                >.imgBox {
                    position: relative;
                }

                >.skillBox {
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;

                    >p {
                        font-family: 'NanumSquareNeoBold';
                        font-size: 12px;
                        color: black;
                        letter-spacing: 0.1em;
                        padding: 5px 10px;
                        background: rgb(95 91 114 / 50%);
                        margin: 5px 5px 0 0;
                        border-radius: 5px;
                        transition: 0.5s;
                    }
                }

                >a {
                    width: 130px;
                    display: flex;
                    padding: 5px 10px;
                    background-color: #0042b199;
                    border-radius: 20px;
                    margin-top: 15px;
                    color: #080808;
                    align-items: center;
                    justify-content: center;
                    font-size: 12px;
                    text-decoration: none;
                    >svg{
                        margin-right: 10px;
                        >path{
                            fill: black;
                        }
                    }
                }
            }


            >.textBox {
                height: 500px;
                flex-shrink: 0;
                flex-wrap: nowrap;
                width: 45%;
                overflow-y: scroll;
                overflow-x: hidden;
                white-space: pre-line;

                &::-webkit-scrollbar {
                    display: none;
                }

                /* 인터넷 익스플로러 */
                -ms-overflow-style: none;
                /* 파이어폭스 */
                scrollbar-width: none;


                >p {
                    word-break: normal;
                    letter-spacing: 0.1em;
                    font-size: 16px;
                    line-height: 30px;
                    font-family: 'NanumSquareNeo';
                    margin-bottom: 10px;
                    &:nth-last-child(1){
                        margin-bottom: 0
                    }
                }
            }
        }

    }
}

@import './utils.scss';

@include pc1 {
    .itemContainer {

        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        color: #000;
        background-color: rgba(255, 255, 255, 0.164);
        opacity: 0;
        padding: 100px 100px;
        z-index: -10;

        &.active {
            opacity: 1;
            z-index: 20;

        }
        >.infoBox {
            padding: 35px;
            position: relative;

            display: flex;
            flex-direction: column;
            background-color: rgb(243, 243, 243);

            >button {
                all: unset;
                position: absolute;
                background-image: url("../../public/image/close.svg");
                background-repeat: no-repeat;
                background-size: cover;
                width: 30px;
                height: 30px;
                top: 15px;
                right: 15px;
                cursor: pointer;
            }

            >.titleBox {
                text-align: center;
                margin-bottom: 25px;

                >p {
                    font-family: 'NanumSquareNeoBold';
                    font-size: 16px;
                    margin-bottom: 0px;

                    &:nth-child(1) {
                        font-size: 32px;
                        margin-bottom: 16px;
                    }
                }
            }

            >.infoContentBox {
                display: flex;
                justify-content: space-between;
                overflow: hidden;

                >.leftBox {
                    width: 50%;
                    flex-shrink: 0;

                    >.skillBox {}
                }

                >.textBox {
                    flex-shrink: 0;
                    flex-wrap: nowrap;
                    width: 45%;
                    overflow-y: scroll;
                    overflow-x: hidden;
                    white-space: pre-line;

                    &::-webkit-scrollbar {
                        display: none;
                    }

                    /* 인터넷 익스플로러 */
                    -ms-overflow-style: none;
                    /* 파이어폭스 */
                    scrollbar-width: none;


                    >p {
                        word-break: normal;
                        letter-spacing: 0.1em;
                        font-size: 14px;
                        line-height: 22px;
                        font-family: 'NanumSquareNeo';
                        margin-bottom: 10px;
                        &:nth-last-child(1){
                            margin-bottom: 0
                        }
                    }
                }
            }

        }
    }
}

@include tablet {
    .itemContainer {

        position: absolute;
        top: 0;
        left: 0;
        width: 100%;

        color: #000;
        background-color: rgba(255, 255, 255, 0.164);
        opacity: 0;
        padding: 50px 50px;
        z-index: -10;

        &.active {
            opacity: 1;
            z-index: 20;

        }

        >.infoBox {
            padding: 20px;
            position: relative;
            display: flex;
            flex-direction: column;
            background-color: rgb(243, 243, 243);

            >button {
                all: unset;
                position: absolute;
                background-image: url("../../public/image/close.svg");
                background-repeat: no-repeat;
                background-size: cover;
                width: 30px;
                height: 30px;
                top: 15px;
                right: 15px;
                cursor: pointer;
            }

            >.titleBox {
                text-align: center;
                margin-bottom: 15px;

                >p {
                    font-family: 'NanumSquareNeoBold';
                    font-size: 14px;
                    margin-bottom: 0px;

                    &:nth-child(1) {
                        font-size: 20px;
                        margin-bottom: 10px;
                    }
                }
            }

            >.infoContentBox {
                display: flex;
                justify-content: space-between;
                overflow: hidden;

                >.leftBox {
                    width: 50%;
                    flex-shrink: 0;


                    >.skillBox {
                        >p {
                            font-family: 'NanumSquareNeoBold';
                            font-size: 12px;
                            color: black;
                            letter-spacing: 0.1em;
                            padding: 5px 7px;
                            background: rgb(95 91 114 / 50%);
                            margin: 5px 5px 0 0;
                            border-radius: 5px;
                            transition: 0.5s;
                        }
                    }
                    >a {
                        width: 120px;
                        display: flex;
                        padding: 5px 10px;
                        background-color: #0042b199;
                        border-radius: 20px;
                        margin-top: 15px;
                        color: #080808;
                        align-items: center;
                        justify-content: center;
                        font-size: 12px;
                        text-decoration: none;
                        >svg{
                            margin-right: 8px;
                            >path{
                                fill: black;
                            }
                        }
                    }
                }

                >.textBox {
                    flex-shrink: 0;
                    flex-wrap: nowrap;
                    width: 45%;
                    height: 350px;
                    overflow-y: scroll;
                    overflow-x: hidden;
                    white-space: pre-line;
                    
                    &::-webkit-scrollbar {
                        display: none;
                    }

                    /* 인터넷 익스플로러 */
                    -ms-overflow-style: none;
                    /* 파이어폭스 */
                    scrollbar-width: none;


                    >p {
                        word-break: normal;
                        letter-spacing: 0.1em;
                        font-size: 12px;
                        line-height: 16px;
                        font-family: 'NanumSquareNeo';
                        margin-bottom: 10px;
                        &:nth-last-child(1){
                            margin-bottom: 0
                        }
                    }
                }
            }

        }
    }
}

@include mobile2 {
    .itemContainer {

        position: absolute;
        top: 0;
        left: 0;
        width: 100%;

        color: #000;
        background-color: rgba(255, 255, 255, 0.164);
        opacity: 0;
        padding: 50px 50px;
        z-index: -10;

        &.active {
            opacity: 1;
            z-index: 20;

        }

        >.infoBox {
            padding: 20px;
            position: relative;
            height: auto;
            display: flex;
            flex-direction: column;
            background-color: rgb(243, 243, 243);

            >button {
                all: unset;
                position: absolute;
                background-image: url("../../public/image/close.svg");
                background-repeat: no-repeat;
                background-size: cover;
                width: 30px;
                height: 30px;
                top: 0;
                right: 0;
                cursor: pointer;
            }

            >.titleBox {
                text-align: center;
                margin-bottom: 10px;

                >p {
                    font-family: 'NanumSquareNeoBold';
                    font-size: 14px;
                    margin-bottom: 5px;

                    &:nth-child(1) {
                        font-size: 20px;
                        margin-bottom: 5px;
                    }
                }
            }

            >.infoContentBox {
                display: block;
                justify-content: space-between;
                overflow: hidden;

                >.leftBox {
                    width: 100%;
                    flex-shrink: 0;

                    >.imgBox {}

                    >.skillBox {
                        margin-top: 0;

                        >p {
                            font-size: 10px;
                            padding: 4px 7px;
                            margin: 3px 3px 0 0;
                        }
                    }
                    >a {
                        width: 100px;
                        display: flex;
                        padding: 5px 5px;
                        background-color: #0042b199;
                        border-radius: 20px;
                        margin-top: 10px;
                        color: #080808;
                        align-items: center;
                        justify-content: center;
                        font-size: 12px;
                        text-decoration: none;
                        >svg{
                            width: 15px;
                            height: 15px;
                            margin-right: 5px;
                            >path{
                                fill: black;
                            }
                        }
                    }
                }

                >.textBox {
                    display: none;
                    flex-shrink: 0;
                    flex-wrap: nowrap;
                    width: 100%;
                    overflow-y: scroll;
                    overflow-x: hidden;
                    white-space: pre-line;

                    &::-webkit-scrollbar {
                        display: none;
                    }

                    /* 인터넷 익스플로러 */
                    -ms-overflow-style: none;
                    /* 파이어폭스 */
                    scrollbar-width: none;


                    >p {
                        word-break: normal;
                        letter-spacing: 0.1em;
                        font-size: 12px;
                        line-height: 16px;
                        font-family: 'NanumSquareNeo';
                        margin-bottom: 10px;
                        &:nth-last-child(1){
                            margin-bottom: 0
                        }
                    }
                }
            }

        }
    }
}

@include mobile1 {
    .itemContainer {

        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        color: #000;
        background-color: rgba(255, 255, 255, 0.164);
        opacity: 0;
        padding: 50px 25px;
        z-index: -10;

        &.active {
            opacity: 1;
            z-index: 20;

        }

        >.infoBox {
            padding: 20px;
            position: relative;
            height: auto;
            display: flex;
            flex-direction: column;
            background-color: rgb(243, 243, 243);

            >button {
                all: unset;
                position: absolute;
                background-image: url("../../public/image/close.svg");
                background-repeat: no-repeat;
                background-size: cover;
                width: 30px;
                height: 30px;
                top: 0;
                right: 0;
                cursor: pointer;
            }

            >.titleBox {
                text-align: center;
                margin-bottom: 10px;

                >p {
                    font-family: 'NanumSquareNeoBold';
                    font-size: 12px;

                    &:nth-child(1) {
                        font-size: 20px;
                        margin-bottom: 5px;
                    }
                }
            }

            >.infoContentBox {
                display: block;
                justify-content: space-between;
                overflow: hidden;

                >.leftBox {
                    width: 100%;
                    flex-shrink: 0;

                    >.imgBox {}

                    >.skillBox {
                        margin-top: 0;

                        >p {
                            font-size: 8px;
                            padding: 2px 5px;
                            margin: 3px 3px 0 0;
                        }
                    }
                    >a {
                        width: 100px;
                        display: flex;
                        padding: 5px 5px;
                        background-color: #0042b199;
                        border-radius: 20px;
                        margin-top: 5px;
                        color: #080808;
                        align-items: center;
                        justify-content: center;
                        font-size: 12px;
                        text-decoration: none;
                        >svg{
                            width: 15px;
                            height: 15px;
                            margin-right: 5px;
                            >path{
                                fill: black;
                            }
                        }
                    }
                }

                >.textBox {
                    display: none;
                    flex-shrink: 0;
                    flex-wrap: nowrap;
                    width: 100%;
                    overflow-y: scroll;
                    overflow-x: hidden;
                    white-space: pre-line;

                    &::-webkit-scrollbar {
                        display: none;
                    }

                    /* 인터넷 익스플로러 */
                    -ms-overflow-style: none;
                    /* 파이어폭스 */
                    scrollbar-width: none;


                    >p {
                        word-break: normal;
                        letter-spacing: 0.1em;
                        font-size: 12px;
                        line-height: 16px;
                        font-family: 'NanumSquareNeo';
                        margin-bottom: 10px;
                        &:nth-last-child(1){
                            margin-bottom: 0
                        }
                    }
                }
            }

        }
    }
}