*:focus {
  outline: none;
}

.slick-track {
  cursor: pointer;
}

.slick-slide div {
  outline: none;
}

.projectSlider .slick-slide>div>figure {
  width: 450px;
  height: 600px;
}

.projectSlider .slick-list {
  overflow: unset;
  width: 50%;
}

.projectSlider .slick-slide>div>figure>img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  box-shadow: 0 0 30px rgba(0, 0, 0, .3);
  filter: brightness(50%);
  transition: 0.3s;
  transform: scale(0.8);
}

.projectSlider .slick-active>div>figure>img {
  object-fit: fill;
  box-shadow: 0 0 30px rgba(0, 0, 0, .3);
  filter: brightness(50%);
  transition: 0.5s;
  transform: scale(0.8);
}

.projectSlider .slick-center>div>figure>img,
.projectSlider .slick-current>div>figure>img {
  filter: brightness(100%);
  transition: 0.3s;
  transform: scale(1);
}

.projectSlider .slick-slider.animate {
  transition: all 0.5s ease;
}

.projectSlider .slick-slide:not(.slick-current)>div {
  transition: transform 0.3s ease-in-out;
}

.projectSlider .slick-slide:first-child>div,
.projectSlider .slick-slide:last-child>div {
  transition: transform 0.3s ease-in-out;
}

.detailSlider .slick-slide div>figure {
  width: 100%;
  height: 300px;
}

.detailSlider .slick-slide img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.detailSlider .slick-track {
  cursor: auto;
}

@media screen and (min-width: 1024px) and (max-width:1399px) {
  .projectSlider .slick-slide>div>figure {
    height: 500px;
  }
  .projectSlider .slick-list {
    overflow: unset;
    width: 75%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .projectSlider .slick-slide>div>figure {
    height: 300px;
    width: 200px;
  }
  .detailSlider .slick-slide div>figure {
    width: 100%;
    height: 250px;
  }
  .projectSlider .slick-slide>div>figure>img {
    width: 100%;
  }

  .projectSlider .slick-list {
    overflow: unset;
    width: 65%;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .projectSlider .slick-slide>div>figure {
    height: 200px;
    width: 150px;
  }
  .detailSlider .slick-slide div>figure {
    width: 100%;
    height: 200px;
  }
  .projectSlider .slick-slide>div>figure>img {

    width: 100%;
  }

  .projectSlider .slick-list {
    overflow: unset;
    width: 33.3%;
  }
}

@media screen and (max-width: 479px) {
  .projectSlider .slick-slide>div>figure {
    height: 200px;
    width: 150px;
  }
  .detailSlider .slick-slide div>figure {
    width: 100%;
    height: 200px;
  }
  .projectSlider .slick-slide>div>figure>img {

    width: 100%;
  }

  .projectSlider .slick-list {
    overflow: unset;
    width: 50%;
  }
}
